# Google Cloud
functions-framework==3.*
google-cloud-datastore==2.15.1
google-cloud-secret-manager==2.16.2

# HTTP Requests
requests==2.31.0

# For local development .env loading
python-dotenv==0.21.0

# AWS SDK for Python (Boto3)
boto3==1.40.48